// BREADCRUMBS
@use "variables" as *;

.breadcrumbs {
  text-decoration: none;
  color: inherit;
  transition: var(--transition-duration);
  padding: var(--space-small) 0;

  &:hover {
    color: var(--primary-color);
  }

  // .breadcrumbs__list
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  // .breadcrumbs__item
  &__item {
    // margin-right: 10px;

    &:after {
      content: "/";
      padding: 0 3px;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }

  &__link {
    font-size: small;
    text-decoration: none;
    color: var(--text-color-grey);
    transition: var(--transition-duration);

    &:hover {
      color: var(--text-primary-color);
    }
  }
}